[submodule "axpike-pk"]
	path = axpike-pk
	url = https://github.com/VArchC/axpike-pk.git
[submodule "axpike-isa-sim"]
	path = axpike-isa-sim
	url = https://github.com/VArchC/axpike-isa-sim.git
[submodule "ramulator"]
	path = ramulator
	url = https://github.com/CMU-SAFARI/ramulator.git
[submodule "vampire"]
	path = vampire
	url = https://github.com/CMU-SAFARI/vampire.git
